body {
    font-family: 'Inter', sans-serif;
}

.suggestions-list::-webkit-scrollbar {
    width: 5px;
}

.suggestions-list::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.suggestions-list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.suggestions-list::-webkit-scrollbar-thumb:hover {
    background: #555;
}
